ld
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore build directory
build/*

# Vim stuff
tags
tags.*
**/*.swp
compile_commands.json
.vimrc
.clangd/*

# cmake
**/*.cmake
*.a
**/Makefile
*.tcl
CMakeCache.txt
**/CMakeFiles/
app/fluff

# VSCode
./vscode/*
