ld
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore build directory
build/*

# Ignore tmp directory
tmp/*

# Ignore out directory (where recordings go)
out/*

# Vim stuff
tags
tags.*
**/*.swp
compile_commands.json
.vimrc
.clangd/*

# cmake
**/*.cmake
*.a
**/Makefile
*.tcl
CMakeCache.txt
**/CMakeFiles/
app/fluff
tests/tests

# VSCode
.vscode/*
